html {
    position: relative;
    min-height: 100%;
}

body {
    width: 1000px;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 400px;
    margin-bottom: 178px;
    color: #262726;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: 2rem;
    margin: 20px 0;
}

header {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

header .button {
    width: 100px;
    font-size: 1rem;
    border: none;
    border-right: 3px solid #009700;
    border-bottom: 3px solid #009700;
    background: #15D615;
    color: #fff;
    cursor: pointer;
    margin: 0 5px;
}

header .sound {
    background: #FFC519;
    border-right: 3px solid #BC8D00;
    border-bottom: 3px solid #BC8D00;
}

header .button:disabled,
header .button.disabled {
    border-right: 3px solid #e7e7e7;
    border-bottom: 3px solid #e7e7e7;
    background: #e7e7e7;
    color: #292D29;
}

header .button:disabled {
    cursor: auto;
}

header .reset {
    background: #727572;
    border-right: 3px solid #292D29;
    border-bottom: 3px solid #292D29
}

header input:active {
    position: relative;
    top: 1px;
}

header #demo-navigation {
    position: absolute;
    top: 10px;
    right: 0;
    text-align: left;
    border: 2px solid #3B86BF;
    border-radius: 5px;
    width: 190px;
    box-sizing: border-box;
    padding: 10px 20px;
}

header #demo-navigation a {
    color: #3B86BF;
    display: block;
    line-height: 1.5rem;
    text-decoration: none;
}

header #demo-navigation a:hover {
    text-decoration: underline;
}

main .road {
    background: url('../images/RoadsDirt0042_9_M.jpg') repeat-x 0px -350px;
    height: 300px;
    padding: 35px 0;
}

main .car {
    width: 100px;
    height: 60px;
    margin-bottom: 20px;
    position: relative;
    left: 0;
}

main .car.car-1 {
    background: url('../images/g17261.png') no-repeat;
    background-size: 100%;
}

main .car.car-2 {
    background: url('../images/g17530.png') no-repeat;
    background-size: 100%;
}

main .car.car-3 {
    background: url('../images/g17801.png') no-repeat;
    background-size: 100%;
}

main .car.car-4 {
    background: url('../images/g18070.png') no-repeat;
    background-size: 100%;
}

footer {
    margin-top: 50px;
    background: #262726;
    color: #DCDCDC;
    padding: 0 25px 25px;
    position: absolute;
    bottom: 0;
    width: 1000px;
    height: 178px;
    box-sizing: border-box;
}

footer .results {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

footer h2 {
    font-size: 1.5rem;
    display: block;
    text-align: center;
    padding: 20px 0 10px 0;
    border-bottom: 1px solid #DCDCDC;
}

footer .results {
    height: 95px;
}

footer .result {
    width: 20%;
    padding: 10px;
}

footer .result h3 {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

footer .result.car-2 h3 {
    color: yellow;
}

footer .result.car-3 h3 {
    color: red;
}

footer .result.car-4 h3 {
    color: blue;
}

footer .result p {
    font-size: .9rem;
    text-align: center;
}

footer .links {
    text-align: center;
    padding-top: 5px;
}

footer .links a {
    color: #898787;
    text-decoration: none;
    font-size: .8rem;
    padding: 0 15px;
}

footer .links a:hover {
    text-decoration: underline;
}